doctype html
html
  head
    title cine.io example app
    script(src='//cdn.cine.io/cineio.js')
    script CineIO.init("#{publicKey}")

  body
    header
      h1 Cine.io example app - #{title}
      p #[a(href="https://www.cine.io/docs") Documentation] | #[a(href="https://github.com/cine-io/cineio-node") Node Package] | #[a(href="https://github.com/cine-io/js-sdk") JS SDK]
    hr
    .container
      .main-content
        block content
    hr
    footer
      p An app built with #[a(href='https://www.cine.io') cine.io] api
